.content1 {
	background: url(../../images/mbanner.png) no-repeat center /100%;
	width: 100%;

	.cont1 {
		width: 553px;
		height: 340px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		display:flex;
		justify-content:center;
		a {
			display: block;
			width: 141px;
			height: 27px;
			position: absolute;
			bottom: 63px;
			img{
				width:141px;
				height:27px;
			}
		}

	}

}
